@media screen and (max-width: 1600px) 
{
     .indexFormPosition 
     {
          margin-top: 50px;
     }
}
@media screen and (max-width: 1515px) 
{
     .optional-display-vertical
     {
          display: inline-flex;
     }
     .optional-search-div.mt-1
     {
          display: grid;
          /* margin-top: 1rem!important; */
          
     }
     .optional-search
     {
          margin-right: 0px;
          margin-bottom: 10px;
          width: 250px;
     }
     .optional-pagination-padding, 
     .optional-filter-padding 
     {
          padding: 4px 14px 4px;
     }
}
@media screen and (max-width: 1510px) 
{
     .optional-buttons 
     {
          display: block;
     }
     .optional-dtm-add
     {
          margin-bottom: 10px;
     }
}
@media screen and (max-width: 1392px) 
{
     .optional-pagination-total
     {
          display: block;
     }
     .ml-2.optional-pagination.optional-pagination-total-dtm
     {
          margin: 8px 0 0;
          font-size: 16px;
          margin-left: 0rem!important;
     }
}
@media screen and (max-width: 1360px) 
{
     .indexFormPosition 
     {
          margin-top: 45px;
     }
}
@media screen and (max-width: 1208px) 
{
     .optional-display-none
     {
          display: block;
     }
     .optional-display-block
     {
          display: none;
     }
     .optional-filter {
          margin: 10px 0 10px;
          font-size: 16px;
      }
      .optional-buttons {
          display: inline-flex;
      }
      .optional-pagination-total {
          display: inline-flex;
      }
      .optional-search-div {
          display: inline-flex;
      }
      .ml-2.optional-pagination.optional-pagination-total-dtm {
          margin: 10px 10px 0;
          font-size: 16px;
          margin-left: 0.25rem!important;
      }
      .optional-search {
          margin-right: 0px;
          margin-bottom: 10px;
          width: auto;
}
}
@media screen and (max-width: 1200px) 
{
     .indexHeaderText 
     {
          margin-top: 190px;
          text-align: center;
     }
     .indexSubmitButton 
     {
          padding: 10px 60px;
     }
     .navbarButtons
     {
       margin-right: 2rem;
     }
}
@media screen and (max-width: 1100px) 
{
     .indexHeader 
     {
       font-size: 26px;
     }
}
@media screen and (max-width: 1035px) 
{
     .indexSubmitButton 
     {
          padding: 10px 50px;
     }
}
@media screen and (max-width: 865px) 
{
     .indexHeader 
     {
          font-size: 25px;
     }
     .dashboardImages
     {
          width:170px; 
          height:170px;
     }
}
@media screen and (max-width: 825px) 
{
     .dashboardImages
     {
          width:165px; 
          height:165px;
     }
}
@media screen and (max-width: 770px) 
{
     .indexHeaderText 
     {
          margin-top: 170px;
          text-align: center;
     }
}
@media screen and (max-width: 767px) 
{
     .dashboardImages 
     {
          width:180px; 
          height:180px;
     }
     .navbarButtons
     {
       margin-right: 1rem;
     }
}
@media screen and (max-width: 770px) 
{
     .indexHeaderText 
     {
          margin-top: 150px;
          text-align: center;
     }
}

@media screen and (max-width: 670px) 
{
.navbarButtons
     {
       margin-right: 0rem;
     }
}

